<div class="jumbotron text-center">
    <div class="container">
        <h1>{{title}}</h1>
        <p>keep your idea on chrome</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/idea/add">add ideas</a>
        </p>
    </div>
</div>
